header {
  padding: 20px 0;
  background-color: #fafbfc;
  border-bottom: 1px solid #e1e4e8;
}

.Nav {
  display: flex;
  flex-direction: row;
  max-width: 1280px;
  margin: 0 auto;

  > div {
    padding: 5px 15px;
    font-weight: bold;
    font-size: 18px;
  }
}
